.swiper-title {
   font-size: 2rem;
   text-align: center;
   margin-bottom: 20px;
   color: $cPink;


}
.history-name {
    font-size: 1.3rem;

}
.history-kind {
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.history-birthday {
    font-size: 1.1rem;
    margin-bottom: 10px;
    
}
.history-myself {
    // text-align: center;
    font-size: 1.1rem;
    margin-bottom: 30px;
}
.history-contents {
    text-align: center;
}