// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$cOrange :rgba(255, 174, 0, 0.801);
$cBlue :#00a0dc;
$cYellow :#fff000;
$cDarkYellow :#ffcc00;
$cPink : hotpink;
$cParple :#9944cc;
$LightBlue :#9cb3be;
$cBlack: black;
$cWhite: rgba(218, 178, 200, 0.849);
$cRed :rgba(250, 17, 17, 0.801);
$cGreen:rgba(132, 230, 132, 0.795);
// $cPink:rgba(124, 124, 243, 0.973);
$cGray:rgba(172, 168, 168, 0.733);
